@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
    --primary-font: 'Poppins', sans-serif;
}
html {
    font-family: var(--primary-font);
    font-size: 15px;
    color: var(--very-dark-blue);
}
body {
    background-color: var(--very-light-gray);
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5.2rem;
}
.container header {
    max-width: 33.93333333333333rem;
    text-align: center;
    margin-bottom: 4.266666666666667rem;
}
.container header h1 {
    font-size: 1.6rem;
    font-weight: 200;
}
.container header .sub {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.1333333333333333rem;
}
.container header .text {
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.6rem;
}
.content {
    display: flex;
    flex-direction: row;
}
.content .center {
    margin: 0 2rem;
}
.content .card {
    box-shadow: 0px 0.3333333333333333rem 0.26666666666666666rem rgba(0, 0, 0, 0.25);
    border-radius: 0.3333333333333333rem;
    background-color: var(--very-light-gray);
    margin-bottom: 2rem;
    padding: 2.1333333333333333rem;
    display: flex;
    flex-direction: column;
    max-width: 23.333333333333332rem;
    height: 16.666666666666668rem;
}
.content .card h2 {
    font-size: 1.3333333333333333rem;
    font-weight: 600;
    margin-bottom: 0.5333333333333333rem;
}
.content .card p {
    font-size: 0.8666666666666667rem;
    line-height: 1.4666666666666666rem;
    font-weight: 200;
    color: var(--grayish-blue);
    margin-bottom: 2.7333333333333334rem;
}
.content .card img {
    width: 4.266666666666667rem;
    height: 4.266666666666667rem;
    align-self: flex-end;
}
.content .supervisor {
    border-top: 0.3333333333333333rem inset var(--cyan);
    align-self: center;
}
.content .team {
    border-top: 0.3333333333333333rem inset var(--red);
}
.content .karma {
    border-top: 0.3333333333333333rem inset var(--orange);
}
.content .calculator {
    border-top: 0.3333333333333333rem inset var(--blue);
    align-self: center;
}
@media (min-width: 20rem) and (max-width: 64rem) {
    .container {
        margin: 5.8rem 2.1333333333333333rem 5.2rem 2.1333333333333333rem;
    }
    .container header .sub {
        margin-bottom: 1.0666666666666667rem;
    }
    .container header {
        margin-bottom: 5.133333333333334rem;
    }
    .content {
        flex-direction: column;
    }
    .content .center {
        margin: 0;
    }
    .content .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1.8666666666666667rem;
        margin-bottom: 1.6666666666666667rem;
    }
    .content .card h2 {
        margin-bottom: 0.2rem;
    }
    .content .card img {
        width: 3.8rem;
        height: 3.8rem;
    }
}